<script src="~/Content/site/js/comum/gridview.js"></script>
<script src="~/Content/site/js/comum/pessoa.js"></script>

<div style="width:99%; text-align:right">
    <h3>GridView</h3>
</div>
<div style="width:99%; margin:0px auto">
    <div id="dataGrid"></div>
</div>
